.post-image {
  width: 100%;
  height: 50%;
  object-fit: contain;
}
.post-text {
  font-weight: normal;
}

.post-header {
  display: flex;
  align-items: center;
  padding: 20px;
}

.post-avatar {
  margin-right: 10px;
}
