.post-image {
  width: 100%;
  height: 50%;
  object-fit: contain;
}
.post-text {
  font-weight: normal;
}
.post {
  max-width: 500px;
  border: 1px solid grey;
  margin-bottom: 15px;
}
.post-header {
  display: flex;
  align-items: center;
  padding: 20px;
}

.post-avatar {
  margin-right: 10px;
  border:1px solid grey
}

.btn-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 2% 5%;
  border-top: 1px solid grey;
}
